/* #ffffff */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202124;
}

/* header styling begins */
.main-header {
    width: 100%;
    position: sticky;
    z-index: 6;
}

.main-nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav-link {
    margin: 0.5rem;
  }

h1 {
    color: red;
}