* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202124;
}

/* header styling begins */
.main-header {
    width: 100%;
    position: sticky;
    z-index: 6;
}



h1 {
    color: red;
}